body {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

#canvas {
    border: solid 1px;
}

.divokr {
    height: 100px;
    width: 200px;
    background-color: black;
    color: white;
    font-size: 90px;
    text-align: center;

}

.container {
    position: fixed;
    right: 300px;
    top: 100px;

}

.wyg {
    height: 100px;
    width: 800px;
    text-align: center;
    font-size: 80px;
    color: white;
    background-color: black;


}
a{
    text-decoration: none;
    color: teal;
    display: block;
    transition: 0.5s;
}
 a:hover{
    color: red;
    font-size: 1.6em;
    transition: 1s;
}